.c-about-page-info {
  width: 45%;
  padding-top: 9.22222%;
  @media (max-width: 990px) {
    width: 70%;
    margin-bottom: 3%;
  }

  &__title {
    width: 115%;
    margin-left: 60 / 450 * 100%;
    margin-bottom: 80 / 450 * 100%;
    @media (max-width: 990px) {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      margin-bottom: 2%;
      text-align: center;
    }
  }

  &__under-text {
    margin-left: 60 / 450 * 100%;
    font-size: 1.7rem;
    width: 30rem;
    @media (max-width: 990px) {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      text-align: center;
    }
  }
}