.c-contact-form {
  padding-top: 49 / 466 * 100%;
  padding-right: 50 / 466 * 100%;
  padding-left: 50 / 466 * 100%;
  padding-bottom: 54/ 466 * 100%;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
  @media (max-width: 950px) {
    width: 100%;
    //border: 1px solid black;
    margin: 0 auto;
    display: block;
  }
  @media (max-width: 450px) {
    padding: 5% 7%;
  }

  &__input {
    border: 1px solid lightgrey;
    background: rgba(246, 246, 246, 1);
    border-radius: 4rem;
    font-size: 1.9rem;
    display: block;
    width: 100%;
    padding: 3rem 4.8rem 1.8rem 4.8rem;
    margin-bottom: 2.6rem;
    @media (max-width: 450px) {
      font-size: 1.4rem;
    }
  }
  &__submit {
    border-radius: 4rem;
    display: block;
    font-size: 2.5rem;
    padding: 2.3rem 4.8rem 2rem 5rem;
    text-align: center;
    width: 100%;
    margin-bottom: 2.4rem;
    @media (max-width: 1200px) {
      font-size: 1.8rem;
    }
  }
}