.l-footer {
  padding-top: 148 / 1440 * 100%;
  padding-bottom: 99 / 1440 * 100%;
  background-image: url("../img/footer.png");
  @media (max-width: 990px) {
    background-image: none;
    background: black;

  }
  &__inner {
    @include container;
  }
  &__heading {
    padding: 0 3rem;
    margin-bottom: 3.4rem;
  }
  &__body {
    padding: 0 3.2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}