.p-index {
  padding-top: 352 / 1440 * 100%;
  padding-bottom: 277 / 1440 * 100%;
  background-image: url("../img/back-img.png");
  background-size: cover;
  background-position: center;

  &__inner {
    @include container;
  }

  &__heading {
    margin-bottom: 14 / 1440 * 100%;
  }

  &__body {
  }
}