@mixin respond-to($breakpoint){
  @media (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin container {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 220 / 1440 * 100%;
  padding-left: 220/ 1440 * 100%;
}

